<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

### *In this notebook, Data Science Tools and Ecosystem are summarized.*

#### This Notebook presents some of the key takeaways from the course.

#### Objectives:
* Know popular programming languages used by Data Scientists.
* View commonly used libraries used by Data Scientist.
* Browse tools and open source environments for program development used by Data Scientists.

## Author:
VÃ­ctor D. D.

#### Some of the popular languages that Data Scientists use are:
1. Python.
2. R programming language.
3. SQL.
4. Julia.
5. Many more!

#### Some of the commonly used libraries used with Python by Data Scientists include:
1. Pandas.
2. Numpy.
3. Matplotlib.
4. Seaborn.
5. Keras.
6. Tensorflow.
7. Many more!

#### Table 1: 
| **Data Science Tools** |
|--------------------|
| VS Code |
| GitLab |
| Supabase |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [1]:
# This a simple arithmetic expression to multiply and then add integers:

x = (3*4)+5
x

17

In [3]:
# This will convert 200 minutes to hours by diving by 60:
minutes = 200
hours = minutes / 60

print("In 200 minutes, there are ", hours, " hours")

In 200 minutes, there are  3.3333333333333335  hours